<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'Submit rating for ' + ${the_class.getClassName()}"></h1>
<form action="#" th:action="@{/reviewForm}" th:object="${review}" method="post">
    <input type="hidden" th:field="*{rmcClassId}" />
    <label for="difficulty">Rate Difficulty (5 is the most difficult)</label>
    <select id="difficulty" name="difficulty" th:field="*{hard}">
        <option value="OneStar">⭐️</option>
        <option value="TwoStars">⭐️⭐️</option>
        <option value="ThreeStars">⭐️⭐️⭐️</option>
        <option value="FourStars">⭐️⭐️⭐️⭐️</option>
        <option value="FiveStars">⭐️⭐️⭐️⭐️⭐️</option>
    </select>
    <br>
    <label for="exams">Rate Exam Difficulty (5 is the most difficult)</label>
    <select id="exams" name="exams" th:field="*{exams}">
        <option value="OneStar">⭐️</option>
        <option value="TwoStars">⭐️⭐️</option>
        <option value="ThreeStars">⭐️⭐️⭐️</option>
        <option value="FourStars">⭐️⭐️⭐️⭐️</option>
        <option value="FiveStars">⭐️⭐️⭐️⭐️⭐️</option>
    </select>
    <br>
    <label for="interesting">Rate Interestingness (5 is the most interesting)</label>
    <select id="interesting" name="interesting" th:field="*{interesting}">
        <option value="OneStar">⭐️</option>
        <option value="TwoStars">⭐️⭐️</option>
        <option value="ThreeStars">⭐️⭐️⭐️</option>
        <option value="FourStars">⭐️⭐️⭐️⭐️</option>
        <option value="FiveStars">⭐️⭐️⭐️⭐️⭐️</option>
    </select>
    <br>
    <label for="homework">Rate Homework Difficulty (5 is the most difficult)</label>
    <select id="homework" name="homework" th:field="*{homework}">
        <option value="OneStar">⭐️</option>
        <option value="TwoStars">⭐️⭐️</option>
        <option value="ThreeStars">⭐️⭐️⭐️</option>
        <option value="FourStars">⭐️⭐️⭐️⭐️</option>
        <option value="FiveStars">⭐️⭐️⭐️⭐️⭐️</option>
    </select>
    <br>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
