<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>RMC</title>
</head>
<body>
  <h1>RMC - Rate My Classes</h1>
  <h2>A website where students can rate their classes on a variety of metrics and provide advice for future students</h2>
  <h3>Created by Suhas, Alex, and Tarun</h3>

    <h2>Classes</h2>
    <th:block th:each="class : ${classes}">
        <a th:href=" '/view/classes/' + ${class.getId()} "> <h2 th:text="${class.getClassName()}"></h2> </a>
    </th:block>

</body>
</html>