<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReviewQueue</title>
</head>
<body>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <h1>Review Queue</h1>
    <h2 th:text="'Review from ' + ${#temporals.format(review.getCreatedDate(), 'MMM dd yyyy')}"></h2>
    <h3 th:text="'Class: ' + ${review.getRmcClass().getClassName()}"></h3>
    <p th:text="'Review Text -' + ${review.getReviewText()}"></p>
    <button onclick="alert('done')" hx-get="/reviewQueue/approve" hx-swap="none">approve</button>
    <button onclick="alert('done')" hx-get="/reviewQueue/deny" hx-swap="none">deny</button>

</body>
</html>